<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.items.code">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name=".ui.main.fragment.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.activity.LastestWebActivity"
            android:label="新闻详情"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main.activity.InterestWebActivity"
            android:label="新闻详情"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.collect.CollectActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.other.AboutActivity"
            android:label="关于作者"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main.activity.HotWebActivity"
            android:label="新闻页面"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.smile.SmileActivity"
            android:label="程序员笑话"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.main.activity.SmileWebActivity"
            android:label="笑话详情"
            android:theme="@style/AppTheme.NoActionBar"
           />


    </application>

</manifest>